@page "/get-student/{StudentId}"
@inject IStudentService studentService

<h3>Get Student by ID</h3>

@if (student == null || studentNotFound)
{
	<p>Student not found.</p>
}
else
{
	<div>
		<h4>Student Details</h4>
		<p><strong>ID:</strong> @student.Id</p>
		<p><strong>Name:</strong> @student.FirstName @student.LastName</p>
		<p><strong>Birth Date:</strong> @student.BirthOfDate</p>
		<p><strong>Gender:</strong> @student.Gender</p>
		<p><strong>Address:</strong> @student.Address</p>
	</div>
}

